.headcaption {
  font-family: "Manrope Medium";
  padding: 1.93vw 0 3vw;
  padding: clamp(18px, 1.93vw, 26px) 0 clamp(23px, 3vw, 40px);
  font-size: 22px;
  font-size: clamp(15px, 1.6vw, 22px);
  line-height: 146%;
  /* identical to box height, or 146% */
  text-align: center;
  color: #ffffff;
}

.leadbox {
  margin: 4.3vw auto 0;
  /* margin: clamp(30px, 11.3vw, 152px) auto 0; */

  /* padding: 0 0 clamp(35px, 12.3vw, 170px); */
}
.leadspacebottom {
  /* margin-bottom: 14.3vw; */
}
.stickelement {
  position: sticky;
  top: 0;
  z-index: 99;
}

.section-body {
  padding-bottom: 12.39vw;
  padding-bottom: clamp(70px, 12.39vw, 221px);
}
.review-section-body {
  padding-bottom: 145px;
  padding-bottom: clamp(72px, 10.8vw, 145px);
}
.section-body-top {
  margin-top: 8.82vw;
  margin-top: clamp(50px, 8.82vw, 127px);
}

.section-title {
  font-weight: 700;
  font-size: 4.423vw;
  font-size: clamp(32px, 4.423vw, 64px);
  line-height: clamp(39px, 107%, 107%);
  margin-bottom: 2.4vw;
  margin-bottom: clamp(12px, 2.4vw, 34px);
  /* or 73px */

  color: #ffffff;
}
.section-menu {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 2.96vw;
  font-size: clamp(22px, 2.96vw, 40px);
  line-height: 5.41vw;
  line-height: clamp(35.41vw, 73px);
  color: #00c1f2;
  margin-bottom: 1.8vw;
  margin-bottom: clamp(12px, 1.8vw, 24px);
}

.section-intro {
  font-weight: 500;
  font-size: 22px;
  font-size: clamp(17px, 1.63vw, 22px);
  line-height: 146%;
  /* or 35px */

  color: #ffffff;
}

.title {
  font-weight: 800;
  font-family: "Manrope Bold";
  font-size: 5vw;
  font-size: clamp(30px, 5vw, 68px);
  line-height: clamp(40px, 107%, 107%);
  /* or 107% */
  text-align: center;
  color: #ffffff;
}

.title span {
  color: #848484;
}

@media screen and (max-width: 768px) {
  .leadbox {
    margin-top: 162px;
  }
  .stickelement {
    /* top: 19vw; */
    top: 16vh;
  }
  .section-body.forgive-bottom-header {
    padding-bottom: 100px;
  }
}
