html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.chakra-input {
  width: 90% !important;

}

.active {
  color: #00C1F2;
}

.active-icon {
  color: #00C1F2 !important;
}

.sidebar-items {
  color: #fff;
  font-size: small;
  align-items: center;
  margin-left: 30px;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover {
  color: #00C1F2;
  
}

.sidebar-items:hover svg {
  color: #00C1F2;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1em;
}

span {
  font-weight: 300;
}

.wallet-chart-box {
  width: 100%;
  height: 250px;
  border: 1px solid #333333;
  
}

.pop-over a{
  background-color: black;
  text-decoration: none;
  width: 100%;
  background: none;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: start;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-inline-start: 0.8rem;
  -webkit-padding-end: 0.8rem;
  padding-inline-end: 0.8rem;
}

.pop-over a:hover{
  cursor: pointer;
  background-color: #E2E8F0;
}

.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
 
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 40px;
  margin: 0;
  font-size: 12px;
  border: 1.5px solid white;
  border-radius: 5px;
  min-width: 30rem;
  background-color: black;
  color: white;
  /* width: 60%; */
  margin-left: 12px;
  padding: 5px;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #00adf2;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 2px 2px 12px;
  border-radius: 2px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

.arrow-down{
  margin-left: 6px;
}

.vector-bell{
  border-radius: 50%;
  padding: 7px;
  background-color: #063041;
}

.vector-bell:hover{
  cursor: pointer;
  background-color: #E2E8F0;
    
}

.vector-export{
  margin-right: 6px;
}
.vector-teams{
  margin-right: 6px;
}

.start-challenge-button:hover{
  filter: grayscale(90%);
}
.add-users-button:hover{
  filter: grayscale(90%);
}

.sidebar-img{
  margin-right: 12px;
}